<!doctype html>
<html ng-app="Jarrupalat">

<head>
    <meta charset="utf-8">
    <title>VALA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="service.js"></script>
    <link rel="stylesheet" type="text/css" href="..\bower_components\bootstrap\dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <div class="container" ng-controller="inputController">
        <div role="form" class ="form-inline" id="input">
            <h1>VALA Prototype</h1>
            <h2>Designed and coded by Indilium</h2>
            <fieldset>
                <textarea class="form-control" ng-model="txtFormula" placeholder="Formula materiale." tabindex="1"></textarea>
            </fieldset>
            <fieldset>
                <textarea class="form-control" ng-model="txtImpianto" placeholder="Configurazione impianto frenante." tabindex="2"></textarea>
            </fieldset>
			<fieldset>
                <button class="btn btn-default" id="btnDemoPar" ng-click="loadParameters()">Parametri DEMO</button>
            </fieldset>
                       
            <fieldset>
                <button class="btn btn-default" id="btnStartPar" ng-click="inputFunction()"><span>Get Results</span>
				<span><div class="spinner-small" data-ng-show="uploading2">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div></span></button>
            </fieldset>
            <fieldset>
                <label class="" ng-show="showResults">{{txtResults}}</label>
            </fieldset>
			<br/>
			<br/>
			<fieldset>
			
		<div class="fileUpload btn btn-default">
                <span>Carica CSV formule</span>
                <input type="file" class="upload" id="attachmentInput" />
            </div>
            </fieldset>
			<fieldset>
			<div class="fileUpload btn btn-default">
                <span>Carica CSV risutati</span>
                <input type="file" class="upload" id="attachmentInput" />
            </div>
            </fieldset>
			<fieldset>
                <button class="btn btn-default" ng-click="startTraining()"><span>Start Training
				</span>
				<span><div class="spinner-small" data-ng-show="uploading1">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div></span>
				</button>
            </fieldset> 
			</div>
    </div>
	
</body>

</html>
